[difftool]
  prompt = false

[merge]
  tool = vimdiff

[user]
  name = sugarcoded
  email = omar@sugarcoded.co

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[diff]
[color]
  ui = auto
