[difftool]
  prompt = false

;[merge]
  ;tool = vimdiff

[user]
  name = sugarcoded
  email = omar@sugarcoded.co

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[diff]
[color]
  ui = auto

[alias]
  st   = status
  aa   = add -A
  ci   = commit
  co   = checkout
  ff   = merge --ff-only
  pom  = push origin master
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
